{% extends 'navbar.html' %}
{%load plotly_dash%}

{% block content %}


<div class="container">
    {%plotly_app name="BalanceHistorial" ratio=0.4 %}

    <h1 class="title"> Cuentas </h1>
    <div class="content">
    {% for cuenta in cuentas %}
        <div class="card">
            <div class="media-content">
                <p class="title is-4"><a  href="view/cuenta/{{cuenta.id}}">{{cuenta.name}}</a></p>
            </div>
            <div class="content">
                {{cuenta.balance}} EUR
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<div class="container">

    <form action="/cuentas" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Crear cuenta">
    </form>
</div>
{% endblock %}