{% extends 'navbar.html' %}

{% block content %}


<div class="container">

    <h1 class="title"> Proyectos </h1>
    <div class="list is-hoverable">
    {% for proyecto in proyectos %}
        <a class="list-item" href="view/proyecto/{{proyecto.id}}">
            {{proyecto.name}}
        </a>
    {% endfor %}
    </div>
</div>
<div class="container">

<form action="/proyectos" method="post">
    {% csrf_token %}
    {{form}}
    <div class="field">
       <input type="submit" value="Submit" class="button">
    </div>
</form>
</div>
{% endblock %}