{% extends 'base.html' %}
{% block navbar %}
<style>
  @media screen and (max-width: 1023px) {
    /* show mavbar-menu on screen less than 1024px */
    #menu-toggle:checked ~ #navbarBasicExample { display: block; }

    /* make navbar-burger become cross on screen less than 1024px */
    #menu-toggle:checked + .navbar-burger span:nth-child(1) { transform: translateY(5px) rotate(45deg); }
    #menu-toggle:checked + .navbar-burger span:nth-child(2) { opacity: 0; }
    #menu-toggle:checked + .navbar-burger span:nth-child(3) { transform: translateY(-5px) rotate(-45deg); }
    /* you can also replace + with ~ in above three rules and get the same result */

    #navbarBasicExample { left:0; right:0; top:100%; position: absolute; }
  }
</style>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h2 class="navbar-item">
      Sueldito App
    </h2>
  </div>
  <input type="checkbox" id="menu-toggle" class="is-hidden">
  <label for="menu-toggle" role="button" class="navbar-burger burger">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </label>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'home' %}">
        Home
      </a>


      <a class="navbar-item" href="{% url 'import' %}">
        Import
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="{% url 'cuentas' %}">
          Cuentas
        </a>
        <div class="navbar-dropdown">
          {% for cuenta in cuentas %}
            <a class="navbar-item" href="/view/cuenta/{{cuenta.id}}">
              {{cuenta.name}}
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="{% url 'categorias' %}">
          Categorias
        </a>
        <div class="navbar-dropdown">
          {% for categoria in categorias %}
            <a class="navbar-item" href="/view/categoria/{{categoria.id}}">
              {{categoria.name}}
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="{% url 'proyectos' %}">
          Proyectos
        </a>
        <div class="navbar-dropdown">
          {% for proyecto in proyectos %}
            <a class="navbar-item" href="/view/proyecto/{{proyecto.id}}">
              {{proyecto.name}}
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>
        <div class="navbar-dropdown">

          <a class="navbar-item" href="{% url 'modos_transferencia' %}">
            Modos de Transferencia
          </a>
          <a class="navbar-item" href="{% url 'monedas' %}">
            Monedas
          </a>
          <a class="navbar-item" href="{% url 'sankey' %}">
            Sankey
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <h2 class="subtitle">
          {% if user.is_authenticated %}
            Hi {{ user.username }}!
          {% else %}
            <p>You are not logged in</p>
          {% endif %}
        </h2>
      </div>
      <div class="navbar-item">
        <div class="buttons">
            {% if user.is_authenticated %}
              <a class="button is-light" href="{% url 'logout' %}">
                Log out
              </a>
            {% else %}
              <a class="button is-light" href="{% url 'login' %}">
                Log in
              </a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock %}
